<div class="previewBody">
    <div class="logoBox">
        <div style="background: {{topBar}}"></div>
        <img src="{{image}}">
    </div>
    <div class="surveyBox">
        <p>How likely are you to recommend<br>{{company}} to a friend?</p>
        <div class="surveyBox__buttons">
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=1"><div style="background: {{button}}"><p>1</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=2"><div style="background: {{button}}"><p>2</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=3"><div style="background: {{button}}"><p>3</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=4"><div style="background: {{button}}"><p>4</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=5"><div style="background: {{button}}"><p>5</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=6"><div style="background: {{button}}"><p>6</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=7"><div style="background: {{button}}"><p>7</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=8"><div style="background: {{button}}"><p>8</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=9"><div style="background: {{button}}"><p>9</p></div></a>
            <a href="https://localhost:9001/api/respond/score?contact_id={{contact_id}}&survey_id={{survey_id}}&score=10"><div style="background: {{button}}"><p>10</p></div></a>
        </div>
        <div class="scale">
            <p>Not likely</p>
            <p>Very likely</p>
        </div>
    </div>
    <div class="previewBody__footer">
        <div>
            Powered by <a href="http://www.clientsuccess.com/"><span>ClientSuccess</span></a>
        </div>
    </div>
</div>